<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>SMAUG - Manage your GitHub repositories</title>
    <link rel="stylesheet" href="vendor/normalize.css/normalize.css">
    <link rel="stylesheet" href="vendor/semantic-ui/build/packaged/css/semantic.min.css">
    <link rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="vendor/tagmanager/tagmanager.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/lodash/dist/lodash.js"></script>
    <script src="vendor/semantic-ui/build/packaged/javascript/semantic.js"></script>
    <script src="vendor/tagmanager/tagmanager.js"></script>
    <script src="vendor/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="vendor/typeahead.js/dist/bloodhound.min.js"></script>

    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/restangular/dist/restangular.js"></script>
    <script src="vendor/angular-loading-bar/build/loading-bar.js"></script>

    <script src="js/app.js"></script>
    <script src="js/widgets/popup-directive.js"></script>
    <script src="js/widgets/model-undefined-directive.js"></script>
    <script src="js/widgets/tag-manager-directive.js"></script>

    <script src="js/modules/repository/repository-service.js"></script>
    <script src="js/modules/repository/list/list-repository-controller.js"></script>
    <script src="js/modules/repository/list/repository-directive.js"></script>
    <script src="js/modules/tag/list/list-tag-controller.js"></script>
    <script src="js/modules/tag/add/add-tag-controller.js"></script>
    <script src="js/modules/tag/tag-service.js"></script>
  </head>
  <body>
    <nav class="ui inverted red menu" ng-init="selected=1">
      <a href="https://github.com/{{userName}}" class="menu-avatar item" data-content="Logged as {{userName}}" popup><img ng-src="{{userAvatar}}" class="ui avatar image"></a>
      <a href="#/repository" class="item" ng-click="selected = 1" ng-class="{'active' : selected == 1}">
        <i class="folder icon" data-content="Browse your repositories" data-position="bottom center" popup></i> Repositories
      </a>
      <a href="#/tag" class="item" ng-click="selected = 2" ng-class="{'active' : selected == 2}">
        <i class="bookmark icon" data-content="Browser your tags" popup></i> Tags
      </a>

      <div class="right menu">
        <a class="ui item visible content">
          <i class="twitter sign icon" data-content="Share the love!" data-position="bottom center" popup></i>
        </a>
        <a href="/logout" class="ui item visible content">
          <i class="sign out icon" data-content="Logout" data-position="bottom center" popup></i>
        </a>
      </div>
    </nav>

    <div class="main-container" ng-view></div>
  </body>
</html>