<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Smaug - manage your GitHub repositories</title>
    <link rel="stylesheet" href="vendor/normalize.css/normalize.css">
    <link rel="stylesheet" href="vendor/semantic-ui/build/packaged/css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <section class="ui two column middle aligned relaxed grid basic segment login">
      <div class="right aligned column">
        <h1 class="ui red header">
          SMAUG
          <div class="sub header">Manage your starred GitHub repositories</div>
        </h1>
      </div>
      <div class="ui vertical divider"></div>
      <div class="left aligned column">
        <a href="{{oauthUrl}}" class="red ui button">
          <i class="github icon"></i>
          Sign in
        </a>
      </div>
    </section>
  </body>
</html>