<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Manage your starred github repositories. Create tags to organize repositories. Perform searchs over your tagged repositories. Compare repositories based on their statistics.">
    <title>SMAUG - Manage your GitHub repositories</title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@eabait">
    <meta name="twitter:title" content="SMAUG - Manage your GitHub repositories">
    <meta name="twitter:description" content="Manage your starred github repositories. Create tags to organize them. Perform searchs over your tagged repositories. Compare repositories based on their statistics.">

    <link rel="stylesheet" href="vendor/normalize.css/normalize.css">
    <link rel="stylesheet" href="vendor/semantic-ui/build/packaged/css/semantic.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <section class="ui two middle aligned column page grid login">
      <div class="right aligned column">
        <h1 class="ui red header">
          SMAUG <sup>alpha</sup>
          <div class="sub header">Manage your starred GitHub repositories</div>
        </h1>
      </div>
      <div class="column" ng-init="loading = false">
        <a href="{{oauthUrl}}" class="red ui button" ng-click="loading = true">
          <i class="icon" ng-class="{true:'loading', false: 'github'}[loading]"></i>
          Sign in
        </a>
      </div>
    </section>
    <footer>
      Made by <a href="https://twitter.com/eabait">eabait</a>
      &#124; <a href="https://github.com/eabait/smaug">fork it</a>
    </footer>

    <script src="vendor/angular/angular.min.js"></script>
  </body>
</html>