html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

h5 {
  margin-bottom: 1em;
}

.login {
  margin: 20% !important;
}

nav .item {
  text-transform: uppercase;
}

.label {
  cursor: pointer !important;
}

.menu-avatar {
  padding: .3em !important;
}

.main-container {
  margin: 1em 1em !important;
  padding: .5em 1em;
}

.repo-list > footer {
  width: 100%;
  text-align: center;
}

.item.ng-enter, .item.ng-move {
  -webkit-animation:0.5s fadeInLeft;
  -moz-animation:0.5s fadeInLeft;
  -o-animation:0.5s fadeInLeft;
  animation:0.5s fadeInLeft;
}

.item.ng-enter.ng-enter-active,
.item.ng-move.ng-move-active {
  opacity:1;
}

.item.ng-leave {
  -webkit-animation:0.7s fadeOutRight;
  -moz-animation:0.7s fadeOutRight;
  -o-animation:0.7s fadeOutRight;
  animation:0.7s fadeOutRight;
}

.ng-enter {
  -webkit-animation:0.5s fadeIn;
  -moz-animation:0.5s fadeIn;
  -o-animation:0.5s fadeIn;
  animation:0.5s fadeIn;
}

.ng-leave {
  -webkit-animation:0.5s fadeOut;
  -moz-animation:0.5s fadeOut;
  -o-animation:0.5s fadeOut;
  animation:0.5s fadeOut;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
}

.ui.small.labels .label, .ui.small.label {
  font-size: 0.5rem;
}

.ui.list a {
  text-decoration: none;
}

.item > .content {
  margin-right: 1em;
}

.repo-tags {
  display: inline-block;
  font-size: 0.5em;
}

.tag-container {
  margin: 1em 0 0 0;
}

.tm-tag {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0.4em 0em;
  padding: 0.5em 0.8em;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #5C6166!important;
  border-color: #5C6166!important;
  color: #FFF!important;
}

.tt-dropdown-menu {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,.15);
  width: 100%;
}

.empty-repo-list {
  margin: 15%;
  text-align: center;
}

.repo-by-tag h1 {
  margin-top: 0 !important;
}

.repo-by-tag .cell-number {
  text-align: right !important;
}

.twitter-typeahead {
  width: 100% !important;
}