html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}

h5 {
  margin-bottom: 1em;
}

.login {
  margin: 20% !important;
}

nav .item {
  text-transform: uppercase;
}

.label {
  cursor: pointer !important;
}

.menu-avatar {
  padding: .3em !important;
}

.main-container {
  margin: 1em 1em !important;
  padding: .5em 1em;
}

.repo-list > footer {
  width: 100%;
  text-align: center;
}

.ui.small.labels .label, .ui.small.label {
  font-size: 0.5rem;
}

.ui.list a {
  text-decoration: none;
}

.item > .content {
  margin-right: 1em;
}

.repo-tags {
  display: inline-block;
  font-size: 0.5em;
}

.tag-container {
  margin: 1em 0 0 0;
}

.tm-tag {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0.4em 0em;
  padding: 0.5em 0.8em;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #5C6166!important;
  border-color: #5C6166!important;
  color: #FFF!important;
}

.tt-dropdown-menu {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,.15);
  width: 100%;
}