<section class="tag-list ui grid" ng-controller="ListTagController" ng-init="initialLoad()">
  <aside class="four wide column">
    <section class="ui icon input ">
      <input type="text" placeholder="Search by tag name" ng-model="search" model-undefined>
      <i class="search icon"></i>
    </section>
    <div class="ui list tag-container">
      <div class="ui loader" ng-class="{false: 'disabled', true: 'active'}[ loading]"></div>
      <div class="item" ng-repeat="tag in tags | filter:search:strict">
        <div class="ui small black label" ng-click="onTagClick(tag._id)">
          {{tag._id}}
          <div class="detail">{{tag.count}}</div>
          <i class="delete icon"></i>
        </div>
      </div>
    </div>
  </aside>
  <section class="twelve wide column">
    <section class="ui relaxed divided list">
      <div class="ui loader" ng-class="{false: 'disabled', true: 'active'}[loading]"></div>
      <repository ng-repeat="repository in repositories | filter:search:strict"/>
    </section>
  </section>
</section>