<section class="tag-list ui grid" ng-controller="ListTagController" ng-init="initialLoad()">
  <aside class="four wide column">
    <section class="ui icon input ">
      <input type="text" placeholder="Search by tag name" ng-model="search" model-undefined>
      <i class="search icon"></i>
    </section>
    <div class="ui list tag-container">
      <div class="ui loader" ng-class="{false: 'disabled', true: 'active'}[ loading]"></div>
      <div class="item" ng-repeat="tag in tags | filter:search:strict">
        <div class="ui label" ng-class="{'black' : tag._id === selectedTag}" ng-click="onTagClick(tag._id, tag.count)">
          {{tag._id}}
          <div class="detail">{{tag.count}}</div>
        </div>
      </div>
    </div>
  </aside>
  <section class="twelve wide column repo-by-tag">
    <nav class="ui secondary pointing menu">
      <a class="item" ng-class="{true: 'active', false: ''}[currentTab === 0]" ng-click="currentTab = 0">Repositories</a>
      <a class="item" ng-class="{true: 'active', false: ''}[currentTab === 1]" ng-click="currentTab = 1">Comparison</a>
    </nav>
    <div class="ui loader" ng-class="{false: 'disabled', true: 'active'}[loading]"></div>
    <h3 class="ui red header">{{selectedTag}}</h3>
    <section class="ui relaxed divided list" ng-show="currentTab === 0">
      <repository ng-repeat="repository in repositories"/>
    </section>
    <table class="ui basic table" ng-show="repositories.length > 0 && currentTab === 1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created at</th>
          <th>Last update</th>
          <th class="cell-number">Stargazers</th>
          <th class="cell-number">Forks</th>
          <th class="cell-number">Open Issues</th>
          <th class="cell-number">Watchers</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="repository in repositories">
          <td>{{repository.name}}</td>
          <td>{{repository.created_at | date:'shortDate'}}</td>
          <td>{{repository.updated_at | date:'shortDate'}}</td>
          <td class="cell-number">{{repository.stargazers_count}}</td>
          <td class="cell-number">{{repository.forks_count}}</td>
          <td class="cell-number">{{repository.open_issues_count}}</td>
          <td class="cell-number">{{repository.watchers_count}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>