<article class="item" ng-init="open = false" ng-click="open = !open">
  <a class="right floated item" ng-click="unstar(repository)">
    <i class="star icon" data-content="Unstar me" popup></i>
  </a>
  <a ng-href="#/repository/{{repository.id}}/tag/add" class="right floated item">
    <i class="plus icon" data-content="Tag me" popup></i>
  </a>
  <img class="ui avatar image" ng-src="{{repository.owner.avatar_url}}">
  <div class="content">
    <div class="header">
    <a ng-href="{{repository.html_url}}" target="_blank">{{repository.name}}</a>
    </div>
  </div>
  <div class="repo-tags ui black small labels">
    <div class="ui label" ng-model="repository.tags" ng-repeat="tag in repository.tags">
      {{tag}} <i class="icon close" ng-click="removeTag(repository, tag)"></i>
    </div>
  </div>
  <section class="repo-detail repo-detail-closed" ng-class="{true: 'repo-detail-open', false: 'repo-detail-closed'}[open]">
    <div class="repo-tags ui black red labels">
      Stars <span class="ui circular label">{{repository.stargazers_count}}</span>
      Forks <span class="ui circular label">{{repository.forks_count}}</span>
      Issues <span class="ui circular label">{{repository.open_issues_count}}</span>
      Watchers <span class="ui circular label">{{repository.watchers_count}}</span>
    </div>
  </section>
</article>